*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: #f8f0e2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Mono";
}

.main-container{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.board-layer{
    height: 400px;
}

.main-container>*{
    flex: 0 0 auto;
}

.main-container>:not(.board-layer){
    height: 60px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.player-select-layer,
.name-layer,
.symbol-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.player-select-layer>*,
.name-layer>*,
.symbol-layer>*{
    width: 150px;
    text-align: center;
}

.name-field{
    appearance: none;
    height: 40px;
    font-size: 25px;
    font-family: inherit;
    border: 5px solid #d8c5a3;
    background: inherit;
    outline: none;
}

.name-field:hover,.name-field:focus{
    background: #d8c5a3;
}

.board-layer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard td{
    width: 80px;
    height: 80px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 35px;
    transition: all 0.2s;
}

.gameboard{
    border-collapse: collapse;
}

.gameboard tr[data-row="0"]>td{
    border-bottom: solid;    
}

.gameboard tr[data-row="2"]>td{
    border-top: solid;
}

.gameboard td[data-column="0"]{
    border-right: solid;
}

.gameboard td[data-column="2"]{
    border-left: solid;
}

td.hover{
    transition: none 0s;
}

td.hover:hover{
    background-color: #d8c5a3;
    cursor: pointer;
}

.win{
    background-color: #d8c5a3;
    position: relative;
    z-index: -1;
}

.line-through{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}

.line-through::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.column{
    transform: rotate(90deg);
}

.ldiagonal{
    transform: rotate(45deg);
    left: -15px;
    width: 140%;
}

.rdiagonal{
    transform: rotate(-45deg);
    left: -15px;
    width: 140%;
}